################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
out
CMakeLists.binder.txt
cmake_stage_modules.cmake
.api_temp
build
__pycache__/
src_link
.lastlogin
.DS_Store
site/
linux_binder_idl/
/.vs/hal/FileContentIndex
/.vs/hal/v17
/.vs
/.vscode
*.code-workspace
/.history
*/h
*/cpp
**/x64
**/aidl
.*sw*
**/out

# CMake related files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build-tools/linux_binder_idl/build-target-cmake

# Compiled aidl output per module
*/gen/

# Generated presentations
*.pdf
!docs/presentations/**/*.pdf
