#** *****************************************************************************
# *
# * If not stated otherwise in this file or this component's LICENSE file the
# * following copyright and licenses apply:
# *
# * Copyright 2025 RDK Management
# *
# * Licensed under the Apache License, Version 2.0 (the "License");
# * you may not use this file except in compliance with the License.
# * You may obtain a copy of the License at
# *
# *
# * http://www.apache.org/licenses/LICENSE-2.0
# *
# * Unless required by applicable law or agreed to in writing, software
# * distributed under the License is distributed on an "AS IS" BASIS,
# * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# * See the License for the specific language governing permissions and
# * limitations under the License.
# *
#** ******************************************************************************

site_name: RDK Hardware Porting Kit
site_url: https://www.github.com/rdkcentral/rdk-halif-aidl
site_dir: site # Site directory
docs_dir: docs

repo_name: rdkcentral/rdk-halif-aidl
repo_url: https://github.com/rdkcentral/rdk-halif-aidl

nav:
  - Home: index.md
  - The Software Stack: introduction/the_software_stack.md
  - Hardware Abstraction Layer:
    - Introduction: introduction/aidl_and_binder.md
    - Key Concepts:
      - HAL Properties: halif/key_concepts/hal/hal_properties.md
      - HAL Feature Profiles: halif/key_concepts/hal/hal_feature_profiles.md
      - HAL Naming Conventions: halif/key_concepts/hal/hal_naming_conventions.md
      - HAL Session State Management: halif/key_concepts/hal/hal_session_state_management.md
    - Standards:
      - Core Development Guide: standards/direct_branching.md
      - Fork-Based Contribution Guide: standards/forked_based_branching.md
  - Vendor HAL Interfaces (VHI):
    - Overview: halif/key_concepts/hal/hal_interfaces.md
    - Interface Generation: introduction/interface_generation.md
    - AV Subsystem:
      - Audio Decoder: halif/audio_decoder/current/audio_decoder.md
      - Audio Mixer: halif/audio_mixer/current/audio_mixer.md
      - Audio Sink: halif/audio_sink/current/audio_sink.md
      - AV Buffer: halif/av_buffer/current/av_buffer.md
      - AV Clock: halif/av_clock/current/av_clock.md
      - Video Decoder: halif/video_decoder/current/video_decoder.md
      - Video Sink: halif/video_sink/current/video_sink.md
    - Boot: halif/boot/current/boot.md
    - Broadcast: halif/broadcast/current/broadcast.md
    - CDM: halif/cdm/current/cdm.md
    - HDMI:
      - HDMI CEC: halif/hdmi_cec/current/hdmi_cec.md
      - HDMI Input: halif/hdmi_input/current/hdmi_input.md
      - HDMI Output: halif/hdmi_output/current/hdmi_output.md
    - Common: halif/common/current/common.md
    - Deep Sleep: halif/deep_sleep/current/deep_sleep.md
    - Device Info: halif/device_info/current/device_info.md
    - Flash: halif/flash/current/flash.md
    - Indicator: halif/indicator/current/indicator.md
    - Panel: halif/panel/current/panel.md
    - Plane Control: halif/plane_control/current/plane_control.md
    - Secure API: halif/sec_api/current/sec_api.md
    - Sensor: halif/sensor/current/sensor.md
  - Vendor System Interfaces (VSI):
    - File System:
        - Directory And Dynamic Linking: vsi/filesystem/current/directory_and_dynamic_linking_specification.md
        - Logging System: vsi/filesystem/current/logging_system.md    
    - Bluetooth: vsi/bluetooth/current/bluetooth.md
    - Graphics: vsi/graphics/current/graphics.md
    - Service Manager: vsi/service_manager/current/service_manager.md
    - Wi-Fi: vsi/wifi/current/wifi.md
    - Systemd: vsi/systemd/current/systemd.md
    - Kernel: vsi/kernel/current/kernel.md
  - Vendor Tests Suites (VTS):
    - Levels of Test: external_content/ut-core-wiki/3.-Standards:-Levels-of-Test-for-Vendor-Layer.md
    - Level 4:
      - L4 System Interface (VSI): external_content/ut-core-wiki/3.3.-Standards:-L4-‐-System-Interface-Testing.md
      - L4 Smoke Test (VST): external_content/ut-core-wiki/3.4.-Standards:-L4:-Vendor-Full-Stack-‐-Video-‐-Smoke-Regression-Test.md
  - Testing Framework:
    - Framework Usage: external_content/ut-core-wiki/3.2.-Standards:-Requirements-for-building-testing-suites.md
    - Key Concepts:
      - Test Driven Development: external_content/ut-core-wiki/3.1.-Standards:-Overview-of-Test‐Driven-Development.md
      - Black Box Testing: external_content/ut-core-wiki/FAQ:-Black‐Box-Testing-and-Code-Coverage-Metrics.md
      - Feedback Loops: external_content/ut-core-wiki/3.0.1-Standards:-Testing-Feedback-Loops.md
    - UT-Core Test Framework:
      - UT-Core Overview: external_content/ut-core-wiki/Home.md
      - Level Actors: external_content/ut-core-wiki/FAQ:-UT-Core-Framework-Overview.md
  - Virtual Device:
    - What is the vDevice: external_content/ut-core-wiki/5.0:-Standards:-vDevice-Overview.md
    - Architecture Overview: external_content/ut-core-wiki/5.0.1:-Standards:-vDevice-Architecture-Overview.md
    - Key Concepts: 
      - Controller: external_content/ut-core-wiki/5.1.0:-Standards:-vDevice-Controller.md
      - Control Plane: external_content/ut-core-wiki/5.1.1:-Standards:-vDevice-Control-Plane.md
  - Misc:
    - References: references/references.md
    - Documentation Standards: 
      - Getting Started: introduction/documentation_getting_started.md
      - Interface Template: standards/interface_template.md
    - Governance:
      - RDK Documentation Structure: governance/rdk-release-documenation-structure.md
    - White Papers:
      - Documentation in Git: whitepapers/documentation_in_git.md
      - Branching Strategies : whitepapers/branching_strategies.md 
      - Doxygen Code Documentation: whitepapers/doxygen_code_documentation.md
      - Achieving Engineering Goal: whitepapers/engineering_goals.md
      - Commit Message Standards: whitepapers/standardizing_git_commit_messages.md
      - Interface Version Alignment: whitepapers/interface_version_alignment.md
    - Filing an Issue: external_content/ut-core-wiki/1.2.-Standards:-Issue-Description-Guideline.md
    - FAQ:
      - Python Development: external_content/ut-core-wiki/FAQ:-Comparing-Python-Development-Platforms.md
    - ChangeLog: CHANGELOG.md

markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - abbr
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences  
  - toc:
      toc_depth: 4
  - pymdownx.emoji: # Enable Extended Emoji if required
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences: # Enable mermaid
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_css:
  - stylesheets/extra.css  # Ensure this file exists
#  - stylesheets/version.css

extra:
  version:
    provider: mike # This enables mike integration for the version selector

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.4.1/mermaid.min.js
  - javascript/mermaid-init.js

theme:
  name: material
  features:
    - navigation.footer
    - navigation.sections
    - navigation.top
    - navigation.tracking
    #- navigation.tabs
    - navigation.instant  # New feature
    - toc.follow
    - content.code.copy
    - content.code.annotate
    - content.tooltips  # New feature  icon:
    - content.print.stylesheet
    - search.highlight
    - search.suggest
    - search.share
    - header.autohide
    - announce.dismiss
  repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
